In [2]:
import pandas as pd

In [49]:
df = pd.read_sql_table('users', 'mysql+mysqlconnector://test:test@localhost:3306/testdb');
df

   id      name                                            profile
0   1   Chinmay  {'age': 50, 'gender': 'male', 'location': 'Hyd...
1   2     Abdul  {'age': 40, 'gender': 'male', 'location': 'Vij...
2   3    Daniel  {'age': 45, 'gender': 'male', 'location': 'Che...
3   4   Hareesh  {'age': 38, 'gender': 'male', 'location': 'Hyd...
4   5   Anamika  {'age': 36, 'gender': 'female', 'location': 'B...
5   6   Brindha  {'age': 39, 'gender': 'female', 'location': 'C...
6   7  Kanchana  {'age': 32, 'gender': 'female', 'location': 'C...
7   8   Kaustav  {'age': 34, 'gender': 'male', 'location': 'Kol...

In [35]:
def match(profile_record): # match(profile_record, gender, location):
    return profile_record["gender"] == "male" and profile_record["location"] == "Hyderabad"

def match2(profile_record, gend, locn):
    return profile_record["gender"] == gend and profile_record["location"] == locn

In [28]:
match(profiles[0])

True

In [36]:
df.apply(lambda row: match(row['profile']), axis=1)

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [38]:
df.apply(lambda row: match2(row['profile'], row['profile']['gender'], row['profile']['location']), axis=1)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
dtype: bool

In [51]:
df2 = df.copy
df2['matched'] = df.apply(lambda row: match2(row['profile'], 'male', 'Hyderabad'), axis=1)
# df2
df

TypeError: 'method' object does not support item assignment

In [42]:
df.filter(df.apply(lambda row: match2(row['profile'], 'male', 'Hyderabad'), axis=1), axis=0)

Empty DataFrame
Columns: [id, name, profile]
Index: []